include elements/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}

    meta(name="description" content= description)
    meta(name="author"      content="http://odinokun.com/")

    // begin responsive
    meta(name="viewport"              content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    // end responsive

    // begin social content&image
    meta(property='og:title'  content= ogtitle)
    meta(property="og:image"  content= ogimage)
    // end social content&image

    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/app.css')

    //[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]

  body
    block content

    script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.2/pixi.min.js')
    script(src='assets/js/uncompressed.js')
