extends ../_template

block variables
  - var title       = 'PIXI.js & shaders | Odinokun`s start template'
  - var description = 'PIXI.js & shaders | Odinokun`s start template'
  - var ogtitle     = 'PIXI.js & shaders | Odinokun`s start template'
  - var ogimage     = 'assets/img/social.jpg'

block content

